// Variables
$primary-color: #512051;
$white-color: #fff;
$secondary-color: #927B91;
$secondary-light-color: #EE69A4;

// bcg style
$white-bg-color: #FFF;
$light-bg-color: #F7F2F7;

// Site fonts
$site-fonts: 'League Spartan',"Arial", sans-serif;