// Variables
$primary-color: #E7816B;
$primary-black-color: #1D1C1E;
$white-color: #fff;
$secondary-color: #FFAD9B;
$secondary-black-color: #333136;
$secondary-gray-color: #DFDFDF;

// Site fonts
$site-fonts: "Jost" ,"Arial", sans-serif;