*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:focus {
  outline: 1px dashed #000;
  outline-offset: 1px;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #FFF;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
}

input {
  background-color: transparent;
  border: none;
  outline: none;
}

img {
  display: flex;
}

ul {
  list-style: none;
}

main {
  flex-grow: 1fr;
}

/* jost-regular - latin */
/* league-spartan-300 - latin */
html {
  font-size: 62.5%;
}

body {
  font-family: "League Spartan", "Arial", sans-serif;
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #512051;
}

h1, h2, h4 {
  font-weight: 700;
  color: #512051;
}

h1 {
  font-size: 5.6rem;
  line-height: 0.8;
  letter-spacing: -0.63px;
}

.header {
  width: min(100%, 1158px);
  margin: 0 auto;
  padding: 11.8rem 2.4rem 0;
  margin-bottom: 7.1rem;
}
.header ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}
@media (max-width: 1000px) {
  .header ul {
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 576px) {
  .header ul {
    text-align: center;
  }
}
.header ul h1 {
  width: min(100%, 445px);
  margin-bottom: 2.5rem;
}
@media (max-width: 576px) {
  .header ul h1 {
    font-size: 4rem;
  }
}
.header ul .header__item {
  width: min(100%, 530px);
}
.header ul .header__grid {
  width: min(100%, 530px);
  display: grid;
  gap: 1.6rem;
  grid-template-columns: repeat(auto-fit, minax(400px, 1fr));
}
.header ul .header__title1 {
  display: flex;
  justify-self: flex-start;
}
@media (max-width: 1000px) {
  .header ul .header__title1 {
    justify-self: center;
  }
}
.header ul .header__title2 {
  display: flex;
  justify-self: center;
}
.header ul p {
  width: min(100%, 445px);
  color: #927B91;
  font-size: 1.7rem;
  line-height: 1.3;
}
.header ul .header__img {
  display: flex;
}
.header ul h4 {
  display: flex;
  justify-self: flex-end;
  gap: 8px;
  width: min(100%, 445px);
  background-color: #F7F2F7;
  padding: 2rem 7rem 2rem 3.2rem;
  border-radius: 8px;
  letter-spacing: -0.5px;
  font-size: 1.7rem;
}
@media (max-width: 1000px) {
  .header ul h4 {
    justify-self: center;
  }
}
@media (max-width: 576px) {
  .header ul h4 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.footer .footer__list {
  width: min(100%, 1158px);
  margin: 0 auto;
  padding: 0rem 2.4rem;
  color: #fff;
  display: flex;
  gap: 3rem;
  height: 296px;
  align-items: flex-end;
}
@media (max-width: 1000px) {
  .footer .footer__list {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.footer .footer__item {
  display: flex;
  flex-direction: column;
  width: min(100%, 350px);
  padding: 4rem 3.2rem 3.5rem 3.2rem;
  background-color: #512051;
  border-radius: 8px;
}
.footer h4 {
  color: #fff;
}
.footer .footer__item1 {
  align-self: start;
}
.footer .footer__item2 {
  align-self: center;
}
.footer .footer__name {
  display: flex;
  gap: 3.1rem;
  flex-direction: column;
}
.footer .footer__wrap__list {
  display: flex;
  gap: 2.3rem;
}
.footer .footer__text {
  color: #EE69A4;
}

.wrapper {
  height: min(100%, 100vh);
  background-image: url(../imgs/svg/header-bg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}/*# sourceMappingURL=main.css.map */